* {
	margin: auto;
}

body {
	background-color: lightblue;
	text-align: center;
}

h1 {
	font-size: 50px;
}

#bigDiv {
	border: 3px solid black;
	background-color: white;
	width: 600px;
	border-radius: 10px;
}

#div0 {
	display: inline-block;
}

#div1 {
	display: inline-block;
}

#div2 {
	display: inline-block;
}

.rateImg {
	height: 100px;
	width: 100px;
}